[Unit]
Description=Gunicorn instance to serve Django app
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/opt/myapp
Environment="PATH=/opt/myapp/venv/bin"
EnvironmentFile=/opt/myapp/.env
ExecStart=/opt/myapp/venv/bin/gunicorn --bind unix:/opt/myapp/gunicorn.sock mysite.wsgi:application

[Install]
WantedBy=multi-user.target
