server {
    listen 80;
    server_name _;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /opt/myapp;
    }

    location / {
        proxy_pass http://unix:/opt/myapp/gunicorn.sock;
        include /etc/nginx/uwsgi_params;
    }
}
